.searchBox {

    width: 100%;
padding: 20px;
margin: 20px 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #c6c6c6;

}

.searchForm {
    display: flex;
    align-items: center;
    width: 450px;
    margin: 0 auto;
}

.searchInput {
width: 450px;
    height: 44px;
    padding: 0 15px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.25);
    outline: none;
    font-size: 16px;
    color: #202124;
    background-color: #fff;
    transition: box-shadow 0.3s ease;

}
.searchInput:hover{
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.5);

}
.searchInput:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.5);
    border-color: #74a9ff;
}
