.content {
top: 50%;
left: 50%;
right: auto;
bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}